<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">

    </div>
  </div>
  <div class="navbar-center">
    <a href="/projects" class="btn btn-ghost text-xl">
    Projelerim
    </a>
  </div>
  <div class="navbar-end">

  </div>
</div>
